@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
    background-image: url("assets/leo1.jpg");
    font-family: 'Montserrat', sans-serif;
    z-index: 0;
    overflow-x: hidden;
}

.logo {
    width: 25vh;
    height: 25vh;
    border: 10px solid white;
    border-radius: 5000px;
    display: flex;
    position: relative;
}

.text {
    text-align: right;
}

nav {
    z-index: 100;
    margin: -1vh -1vw 0 -1vw;
    padding-top: 1vh;
    background-color: black;
    display: flex;
    border-radius: 5px 5px 5px 0;
    height: 18vh;
    width: 100vw;
    border-bottom: 0.3vh solid white;
    justify-content: center;
    background-image: repeating-linear-gradient(180deg, pink 3%, darkblue);
    background-size: 800% 800%;
    animation: rainbow 8s ease infinite;
      animation-duration: 8s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: rainbow;
}

@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.button {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    display: flex;
    background-color: black;
    justify-content: space-around;
    margin-top: 10.5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: auto;
    width: 100px;
    height: 20px;
}

.button:hover {
    transition: ease-in-out 100ms;
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
}

.button:not(:hover) {
    transition: ease-in-out 100ms;
    color: black;
    background-color: white;
}

nav:hover {
    transition: ease-in-out 200ms;
    border-bottom: 0.4vh solid black;
}

nav:not(:hover) {
    transition: ease-in-out 200ms;
    border-bottom: 0.3vh solid white;
}

nav:hover .logo {
    transition: ease-in-out 200ms;
    border: 50px solid black
}

nav:not(:hover) .logo {
    transition: ease-in-out 200ms;
    border: 10px solid white;
}

.text_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-top: 20vh;
    background-color: whitesmoke;
    opacity: 80%;
    border-radius: 80px;
    padding: 10px;
    line-height: clamp(2vh, 0px, 30px);
}

.text_container:hover {
    transition: ease-in-out 200ms;
    border-radius: 50px;
    font-size: 1.4rem;
}

.text_container:not(:hover) {
    transition: ease-in-out 200ms;
    border-radius: 50px;
    font-size: 1rem;
}

.sa {
    height: 50%;
    width: 50%;
    margin: auto;
    border-radius: 80px;
}

.sa:hover {
    transition: ease-in-out 200ms;
}

.sa:not(:hover) {
    transition: ease-in-out 200ms;
}