.Navbar
{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  background: fixed;
  background-color: grey;
  block-size: auto;
  position: center;
  color: blue;
}

.Contacts
{
  flex: 1;
  margin: auto;
  margin-right: 20px;
  text-align: right;
  position: right;
  border: 2px;
  color: black;
}

.Menu
{
  flex: 1;
  margin: auto;
  margin-left: 20px;
  position: left;
  text-align: left;
  border: 2px;
  color: pink;
}

.Logo
{
  flex: 1;
  margin: auto;
  position: center;
  text-align: center;
  border: 10px;
  border-color: aqua;
  color: brown;
}
