.contact ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    opacity: 0;
    margin-top: -10%;
    margin-left: -22%;
}

.contact
{
    display: flex;
    flex-direction: column;
}

.contact:hover ul
{
    transition: ease-in-out 300ms;
    opacity: 1;
}

.contact:not(:hover) ul
{
    transition: ease-in-out 300ms;
}

.contact li:hover
{
    border-bottom: 2px solid black;
    border-radius: 2px;
}

.contact li
{
    margin-left: 4%;
    margin-right: 4%;
}
