.navbar
{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: space-around;
    position: sticky;
    top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: white !important;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;
}

.navbar .bck:hover
{
    border-bottom: 2px solid black;
}