.welcome img
{
    margin-top: 5%;
    width: 10%;
    transition: ease-in-out 500ms;
    animation: anim infinite 5s linear;
    border: 2px solid black;
}

.welcome h2
{
    opacity: 0;
}

.welcome:hover img
{
    width: 30%;
    transition: ease-in-out 500ms;
}

.welcome:hover h2
{
    opacity: 1;
}

@keyframes anim {
    0% {border-radius: 50%;}
    50% {border-radius: 10%;}
    100% {border-radius: 50%;}
  }